@model IEnumerable<APPDATA.Models.Address>

@{
    ViewData["Title"] = "Address-List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Địa chỉ</h5>
    </div>
    <div class="card-body">
        <form asp-action="Search" method="get" class="form-inline" style="margin-left: 1000px">
            <input placeholder="Search" type="text" name="searchTerm" id="searchTerm" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        </form>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>STD</th>                       
                        <th>Địa chi cụ thể</th>
                        <th>Tỉnh/TP</th>                                             
                        <th>Quận/Huyện</th>
                        <th>Phường/Xã</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                      
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(stt += 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            
                                <td>@Html.DisplayFor(modelItem => item.SpecificAddress)</td>
                                <td>@Html.DisplayFor(modelItem => item.Province)</td>
                                <td>@Html.DisplayFor(modelItem => item.District)</td>

                                <td>@Html.DisplayFor(modelItem => item.Ward)</td>

                             
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

