@model X.PagedList.IPagedList<APPDATA.Models.ProductDetail>
@using System.Globalization;
@using APPDATA.Models;
@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
}




<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Chi tiết Sản phẩm</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success waves-effect waves-light" asp-action="Create">
            <span class="mdi mdi-plus-thick">Tạo mới</span>
        </a>
        <form asp-controller="productdetail" asp-action="getlist" class="row contact_form" method="post">
            <div class="col-md-5 form-group" style="margin-right:50px">
                <input type="text" class="form-control" name="tk" placeholder="Nhập tên sản phẩm để tìm kiếm">
                <button type="submit" style="background-color:brown ; color:black">Tìm kiếm</button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Thể loại</th>
                        <th>Kích cỡ</th>
                        <th>Chất liệu</th>
                        <th>Màu sắc</th>
                        <th>Nhà cung cấp</th>
                        <th>Số lượng</th>
                        <th> Giá</th>
                        <th> Trạng thái</th>
                        <th>Ngày tạo </th>
                        <th> Ngày cập nhật </th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        bool tk = true;
                    }
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            tk = true;
                            <tr>
                                <td>
                                    @(stt += 1)
                                </td>
                                <td class="sorting_1">
                                    @foreach (var obj in ViewBag.Image as List<Image>)
                                    {
                                        if (item.Id == obj.IdProductdetail)
                                        {
                                            <div class="d-flex justify-content-start align-items-center product-name">
                                                <div class="avatar-wrapper me-3">
                                                    <div class="avatar rounded-2 bg-label-secondary">
                                                        <img src="~/images/@obj.Name" alt="Sản phẩm-9" class="rounded-2">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span class="text-nowrap text-heading fw-medium">@item.Name</span>
                                                    <small class="text-truncate d-none d-sm-block">
                                                        @if (!string.IsNullOrEmpty(item.Desciption) && item.Desciption.Length > 50)
                                                        {
                                                            @Html.Raw(Html.Encode(item.Desciption.Substring(0, 50)) + "...")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(Html.Encode(item.Desciption))
                                                        }
                                                    </small>
                                                </div>
                                            </div>
                                            tk= false;
                                            break;
                                        }
                                    }
                                    @if (tk)
                                    {
                                        @foreach (var anh in Model)
                                        {
                                            if (tk == false)
                                            {
                                                break;
                                            }
                                            @if (anh.Id_Product==item.Id_Product)
                                            {
                                                if (tk == false)
                                                {
                                                    break;
                                                }
                                                @foreach (var obj in ViewBag.Image as List<Image>)
                                                {
                                                    if (tk==false)
                                                    {
                                                        break;
                                                    }
                                                    if (anh.Id == obj.IdProductdetail)
                                                    {
                                                        <div class="d-flex justify-content-start align-items-center product-name">
                                                            <div class="avatar-wrapper me-3">
                                                                <div class="avatar rounded-2 bg-label-secondary">
                                                                    <img src="~/images/@obj.Name" alt="Sản phẩm-9" class="rounded-2">

                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <span class="text-nowrap text-heading fw-medium">@item.Name</span>
                                                                <small class="text-truncate d-none d-sm-block">
                                                                    @if (!string.IsNullOrEmpty(item.Desciption) && item.Desciption.Length > 50)
                                                                    {
                                                                        @Html.Raw(Html.Encode(item.Desciption.Substring(0, 50)) + "...")
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.Raw(Html.Encode(item.Desciption))
                                                                    }
                                                                </small>

                                                            </div>
                                                        </div>
                                                        tk = false;
                                                        break;
                                                    }

                                                }

                                            }


                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var obj in ViewBag.Category as List<Category>)
                                    {
                                        if (item.Id_Category == obj.Id)
                                        {
                                            if (obj.Name.Contains("Áo"))
                                            {
                                                <h6 class="text-truncate d-flex align-items-center mb-0">
                                                    <span class="avatar-sm rounded-circle d-flex justify-content-center align-items-center bg-label-info me-2">
                                                        <i class="mdi mdi-tshirt-crew-outline"></i>
                                                    </span>
                                                    <font>@obj.Name</font>
                                                </h6>
                                            }
                                            else if (obj.Name.Contains("Quần"))
                                            {
                                                <h6 class="text-truncate d-flex align-items-center mb-0">
                                                    <span class="avatar-sm rounded-circle d-flex justify-content-center align-items-center bg-label-warning me-2">
                                                        <img src="~/images/icon/swimsuit.png" width="15px" height="20px" />
                                                    </span>
                                                    <font>@obj.Name</font>
                                                </h6>
                                            }
                                            else
                                            {
                                                <h6 class="text-truncate d-flex align-items-center mb-0">
                                                    <span class="avatar-sm rounded-circle d-flex justify-content-center align-items-center bg-label-secondary me-2">
                                                        <i class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                    <font>@obj.Name</font>
                                                </h6>
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var obj in ViewBag.Size)
                                    {
                                        if (item.Id_Size == obj.Id)
                                        {
                                            <p>
                                                @obj.Name
                                            </p>
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var obj in ViewBag.Material)
                                    {
                                        if (item.Id_Material == obj.Id)
                                        {
                                            <p>
                                                @obj.Name
                                            </p>
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var obj in ViewBag.Color)
                                    {
                                        if (item.Id_Color == obj.Id)
                                        {
                                            <p>
                                                @obj.Name
                                            </p>
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var obj in ViewBag.Supplier)
                                    {
                                        if (item.Id_supplier == obj.Id)
                                        {
                                            <p>
                                                @obj.Name
                                            </p>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @item.Price.ToString("C0", new CultureInfo("vi-VN"))
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span class="badge bg-label-success rounded-pill">Hoạt động</span>
                                    }
                                    @if (item.Status == 0)
                                    {
                                        <span class="badge rounded-pill bg-label-danger">Không hoạt động</span>
                                    }
                                </td>
                                <td>
                                    @{
                                        DateTime createDate = item.Create_date;
                                        string formattedDate = createDate != DateTime.MinValue
                                        ? createDate.ToString("dd/MM/yyyy")
                                        : "Không thay đổi";
                                    }
                                    @formattedDate
                                </td>
                                <td>
                                    @{
                                        DateTime updatedDate = item.Update_date;
                                        string formattedUpdateDate = updatedDate != DateTime.MinValue
                                        ? updatedDate.ToString("dd/MM/yyyy")
                                        : "Không thay đổi";
                                    }
                                    @formattedUpdateDate
                                </td>
                                <td>
                                    <div class="d-inline-block text-nowrap">
                                        <button class="btn btn-sm btn-icon btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="mdi mdi-dots-vertical mdi-20px"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                            <a href="@Url.Action( "Details","Home", new { id = item.Id  })" class="dropdown-item">
                                                <i class="mdi mdi-eye-outline me-2"></i>
                                                <span>Xem</span>
                                            </a>
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item">
                                                <i class="mdi mdi-pencil-outline me-2"></i>
                                                <span>Sửa</span>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="dropdown-item delete-record">
                                                <i class="mdi mdi-delete-outline me-2"></i>
                                                <span>Xóa</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/ProductDetalis/GetList?ProductPage=@i">@i</a></li>

            }
            <li class="page-item"><a class="page-link" href="">Next</a></li>
        </ul>
    </nav>
</div>*@
<div>
    @Html.PagedListPager(Model, page => Url.Action("GetList", new {page = page, sort=ViewBag.sort}), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item"},
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 8,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
</div>
