@using System.Globalization;
@model X.PagedList.IPagedList<APPDATA.Models.Bill>
@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "HoaDonTaiQuay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <form asp-action="GetList2" class="row contact_form" method="post" style="margin-bottom:20px">
            <div class="col-md-2 form-group">
                <input style="300px" type="text" id="searchTerm" class="form-control" name="searchTerm" placeholder="Nhập mã hóa đơn để tìm kiếm">



            </div>
            <div class="col-md-2 form-group">
                <button type="submit" class="btn btn-success">Tìm Kiếm</button>

            </div>
            <div class="col-md-2 form-group">
                <input style="300px" type="date" id="searchTerm" class="form-control" name="start">


            </div> <div class="col-md-2 form-group">
                <input style="300px" type="date" id="searchTerm" class="form-control" name="end">

            </div>
            <div class="col-md-1 form-group">
                <button type="submit" class="btn btn-success">Lọc</button>
            </div>
        </form>
        <div class="table-responsive table-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>
                            <span>Tên Người Tạo</span>
                        </th>
                        <th>
                            <span>Tên Khách Hàng</span>
                        </th>

                        <th>

                            Mã
                        </th>
                       
                        <th>

                            số điện thoại
                        </th>

                        <th>

                            tổng tiền
                        </th>

                        <th>

                            Kiểu thanh toán
                        </th>
                        <th>

                            Ngày tạo
                        </th>

                        <th>

                            ngày thanh toán
                        </th>

                        <th>

                            trạng thái
                        </th>
                        <th>
                            Hành động
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                      
                        @foreach (var itembill in Model)
                        {
                            <tr>
                                <td>@(stt += 1)</td>
                                <td>
                                   
                                 @foreach (var acc in ViewBag.account)
                                    {

                                        if (acc.Id == itembill.AccountId)
                                        {
                                            <span>@acc.Name</span>
                                            break;

                                        }
                                    } 
                                </td>
                                <td>
                                    @itembill.Name
                                </td>
                                <td>
                                    @itembill.Code
                                </td>


                             
                                <td>
                                    @if (@itembill.PhoneNumber!=null)
                                    {
                                        @itembill.PhoneNumber
                                    }else
                                    {
                                        <span>Không lưu số.</span>
                                    }  
                                </td>

                                <td>
                                    @string.Format(new CultureInfo("vi-VN"), "{0:C0}",itembill.TotalMoney)
                                </td>
                                <td>@itembill.Type</td>



                                <td>
                                    @{
                                        DateTime createDate = itembill.CreateDate;
                                        string formattedDate = createDate != DateTime.MinValue
                                        ? createDate.ToString("dd/MM/yyyy")
                                        : "Chưa thay đổi";
                                    }
                                    @formattedDate
                                </td>
                                <td>
                                    @{
                                        string formattedDate2 = "Chưa thanh toán";

                                        if (itembill.PayDate.HasValue)
                                        {
                                            formattedDate2 = itembill.PayDate.Value.ToString("dd/MM/yyyy");
                                        }
                                    }

                                    @formattedDate2

                                </td>
                                <td>
                                    @if (itembill.Status == 1)
                                    {

                                        <span>Chờ xác nhận</span>
                                    }
                                    else if (itembill.Status == 2)
                                    {

                                        <span>Đã xác nhận đơn hàng </span>
                                    }
                                    else if (itembill.Status == 3)
                                    {
                                        <span> Đang giao  </span>
                                    }
                                    else if (itembill.Status == 4)
                                    {
                                        <span>Đã Thanh Toán </span>
                                    }
                                    else if (itembill.Status == 0)
                                    {
                                        <span>Chờ hủy </span>
                                    }
                                </td>
                                <td>
                                    <a href=" @Url.Action("Chitiet","QLBills", new { id = itembill.id })" class="dropdown-item ">
                                        <i class="mdi mdi-eye-outline me-2"></i>

                                    </a>
                                </td>
                        


                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("GetList2", new {page = page, sort=ViewBag.sort}), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item"},
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 15,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
</div>

