@using System.Globalization;
@model X.PagedList.IPagedList<APPDATA.Models.Bill>
@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Hóa đơn online";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <form asp-action="GetList" class="row contact_form" method="post" style="margin-bottom:20px">
            <div class="col-md-2 form-group">
                <input style="300px" type="text" id="searchTerm" class="form-control" name="searchTerm" placeholder="Nhập mã hóa đơn để tìm kiếm">



            </div>
            <div class="col-md-2 form-group">
                <button type="submit" class="btn btn-success">Tìm Kiếm</button>

            </div>
            <div class="col-md-2 form-group">
                <input style="300px" type="date" id="searchTerm" class="form-control" name="start">


            </div> <div class="col-md-2 form-group">
                <input style="300px" type="date" id="searchTerm" class="form-control" name="end">

            </div>
            <div class="col-md-1 form-group">
                <button type="submit" class="btn btn-success">Lọc</button>
            </div>
        </form>
        <div class="table-responsive table-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>
                            <span>Tên Khách Hàng</span>
                        </th>

                        <th>
                            
                            Mã
                        </th>
                        <th>
                           
                            phí ship
                        </th>
                        <th>
                           
                            số điện thoại
                        </th>
                        <th>
                           
                            địa chỉ
                        </th>
                        <th>
                           
                            tổng tiền
                        </th>

                        <th>
                           
                            Kiểu thanh toán
                        </th>
                        <th>
                           
                            Ngày tạo
                        </th>

                        <th>                           
                            Ngày thanh toán
                        </th>

                        <th>
                            
                            Trạng thái
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var itembill in Model)
                        {
                            <tr>
                                <td>@(stt += 1)</td>
                                <td>
                                    @itembill.Name
                                  @*   @foreach (var acc in ViewBag.account)
                                    {

                                        if (acc.Id == itembill.AccountId)
                                        {
                                            <span>@acc.Name</span>
                                            break;

                                        }
                                        else
                                        {
                                            @itembill.Name
                                        }
                                    } *@
                                   
                                </td>
                                <td>
                                    @itembill.Code
                                </td>


                                <td>
                                    @string.Format(new CultureInfo("vi-VN"), "{0:C0}",itembill.ShipFee)
                                </td>  
                                <td>
                                    @itembill.PhoneNumber
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(itembill.Address) && itembill.Address.Length > 50)
                                    {
                                        @Html.Raw(Html.Encode(itembill.Address.Substring(0, 50)) + "...")
                                    }
                                    else
                                    {
                                        @Html.Raw(Html.Encode(itembill.Address))
                                    }
                                </td>

                                <td>
                                    @string.Format(new CultureInfo("vi-VN"), "{0:C0}",itembill.TotalMoney)
                                </td>
                                <td>@itembill.Type</td>                               
                                


                                <td>
                                    @{
                                        DateTime createDate = itembill.CreateDate;
                                        string formattedDate = createDate != DateTime.MinValue
                                        ? createDate.ToString("dd/MM/yyyy")
                                        : "Chưa thay đổi";
                                    }
                                    @formattedDate
                                </td>
                                <td>
                                    @{
                                        string formattedDate2 = "Chưa thanh toán";

                                        if (itembill.PayDate.HasValue)
                                        {
                                            formattedDate2 = itembill.PayDate.Value.ToString("dd/MM/yyyy");
                                        }
                                    }

                                    @formattedDate2

                                </td>
                                @if (itembill.Status == 1)
                                {
                                    <td>  Chờ xác nhận</td>

                                }
                                else if (itembill.Status == 2)
                                {
                                    <td>  Đã xác nhận đơn hàng</td>

                                }
                                else if (itembill.Status == 3)
                                {
                                    <td>Đang giao</td>
                                }
                                else if (itembill.Status == 4)
                                {
                                    <td>Đã giao</td>
                                }
                                else if (itembill.Status == 0)
                                {
                                    <td>Chờ Hủy</td>
                                }
                                else if (itembill.Status == 5)
                                {
                                    <td>Chờ Hủy</td>
                                }
                                else if (itembill.Status == 9)
                                {
                                    <td>Chờ thanh toán</td>
                                }
                                else if (itembill.Status == 10)
                                {
                                    <td>Đã Hủy</td>
                                }

                                <td>
                                    <a aria-label="Delete Invoice" href=" @Url.Action("Chitiet","QLBills", new { id = itembill.id })" class="dropdown-item ">
                                        <i class="mdi mdi-eye-outline me-2"></i>
                                       
                                    </a>
                                </td>
                            </tr>
                          
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("GetList", new {page = page, sort=ViewBag.sort}), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item"},
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 15,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
</div>

