@using System.Globalization;
@model APPDATA.Models.Address
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
    h4 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: normal;
        color: #333;
    }

    .billing_details .form-group select.country_select {
        border-radius: 5px !important;
        background-color: #f1f1f1;
        color: #333;
        border: 1px solid #ccc;
        font-size: 14px;
        padding: 10px;
        text-align: left;
        width: 100%;
        transition: border-color 0.3s ease-in-out;
    }

        .billing_details .form-group select.country_select:hover,
        .billing_details .form-group select.country_select:focus {
            border-color: #0066FF;
        }

    .nice-select {
        border-radius: 5px !important;
        background-color: #f1f1f1;
        color: #333;
        border: 1px solid #ccc;
        width: 100%;
        transition: border-color 0.3s ease-in-out;
    }

    .billing_details .form-group input {
        border-radius: 5px;
        background-color: #f1f1f1;
        color: #333;
        border: 1px solid #ccc;
        font-size: 14px;
        padding: 10px;
        text-align: left;
        width: 100%;
        transition: border-color 0.3s ease-in-out;
    }

        .billing_details .form-group input:hover,
        .billing_details .form-group input:focus {
            border-color: #0066FF;
        }

    .cupon_area .button-coupon {
        background-color: #0066FF;
        color: #fff;
        border: 2px solid #0066FF;
        border-radius: 5px;
        text-align: center;
        padding: 10px 20px;
        margin-top: 10px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

        .cupon_area .button-coupon:hover {
            background-color: #fff;
            color: #0066FF;
        }

    .checkout_area form input[type="radio"] {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .checkout_area form button {
        background-color: #0066FF;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 15px;
        margin-top: 20px;
    }

        .checkout_area form button:hover {
            background-color: #0044CC;
        }

    .checkout_area .radion_btn {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-right: 15px;
    }

        .checkout_area .radion_btn input {
            display: none;
        }

        .checkout_area .radion_btn label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #333;
        }

        .checkout_area .radion_btn .check {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #0066FF;
            border-radius: 50%;
        }

        .checkout_area .radion_btn input:checked + label .check:after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #0066FF;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
        }

    .checkout_area .order_box {
        margin-top: 0;
    }

    .checkout_area .payment_item {
        margin-bottom: 0;
    }

    .checkout_area form input#last {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
    }

    .checkout_area form input#first {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
    }

    .checkout_area form input#company {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
    }

    .checkout_area form input#text {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
    }

    .checkout_area form input:focus {
        border-color: #0066FF;
    }
</style>
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Thanh toán</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/home/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="returning_customer">
            <div class="check_title">
                <h2>Returning Customer? <a href="~/Account/login">Click here to login</a></h2>
            </div>
        </div>
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
            </div>
            @* <input type="text" placeholder="Enter coupon code">*@
            <a class="button button-coupon" asp-action="ApplyDiscount">Chọn khuyến mãi</a>
        </div>
        <h4>Nhập thông tin</h4>
        <div class="billing_details">
            <div class="row">


                <div class="col-lg-8">

                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="~/home/dathangn" method="post" novalidate="novalidate" onsubmit="return validateForm()">

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" placeholder="Tên đầy đủ" asp-for="@Model.Name" required>
                            <span class="placeholder" data-placeholder="Fullname" placeholder="Te"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="Số điện thoại" max="10" id="phone" asp-for="@Model.PhoneNumber" required>
                            <span class="placeholder" data-placeholder="Phonenumber"></span>
                            <span class="text-danger" id="phoneError"></span>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="Địa chỉ cụ thể" asp-for="@Model.SpecificAddress" id="text">
                            <span class="placeholder"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Mô tả" asp-for="Description">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <div class="row">

                                <div class="col-lg-4">
                                    <select class="country_select" id="countrySelect" asp-for="@Model.Province" size="5">
                                        @foreach (var item in ViewBag.province)
                                        {
                                            if (Model != null)
                                            {
                                                if (item.ProvinceName == Model.Province)
                                                {
                                                    <option selected value="@item.ProvinceID">@item.ProvinceName</option>
                                                }
                                            }

                                            <option value="@item.ProvinceID">@item.ProvinceName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-4">


                                    <input list="districtSelect" class="country_select" id="district" placeholder="chọn quận huyện" asp-for="@Model.District">

                                    <datalist id="districtSelect">
                                    </datalist>
                                </div>
                                <div class="col-lg-4">


                                    <input list="wardSelect" class="country_select" id="ward" placeholder="chọn phường xã" asp-for="@Model.Ward">
                                    <datalist id="wardSelect">
                                    </datalist>
                                </div>
                            </div>

                        </div>
                        <input name="pay" id="pay" hidden value="shipcod" />
                        <input name="voucher" id="voucher" hidden value="@ViewBag.DiscountAmount" />

                        <input name="vouchercode" id="voucher" hidden value="@ViewBag.VoucherCode" />

                        <input name="phiship" id="fee" hidden value="@ViewBag.fee" />

                        <div class="text-center  form-group">
                            <button type="submit" class="button button-paypal" id="btncf">Thanh Toán</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Thông tin sản phẩm</h2>
                        <ul class="list">
                            <li><a href="#"><h4>Sản phẩm <span>Tổng</span></h4></a></li>
                            @foreach (var item in ViewBag.Product)
                            {
                                var tt = item.Quantity * item.Price;

                                <li><a href="#">@item.Name<span class="middle">x @item.Quantity</span> <span class="last" style="color:#f15e2c">@tt.ToString("C0", new CultureInfo("vi-VN"))</span></a></li>

                            }
                        </ul>



                        <ul class="list list_2">
                            <li><a href="#">Tổng tiền sản phẩm <span style="color:#f15e2c">@ViewBag.TT.ToString("C0", new CultureInfo("vi-VN"))</span></a></li>
                            @if (ViewBag.Value != null)
                            {
                                <li>
                                    <a href="javascript:void(0);" onclick="confirmCancelVoucher()" style="color: red; padding-left: 278px">
                                        <i class='bx bxs-x-square' style="font-size: 12px"></i>
                                    </a>
                                    <h6 style="font-size: 14px">Thông tin giảm giá:</h6>
                                    <p>Mã: <span>@ViewBag.VoucherCode</span></p>
                                    <p>Giảm: <span>@ViewBag.FirstValue%</span></p>
                                    <p>Giảm tối đa: <span style="color:#f15e2c">@ViewBag.FirstDiscountAmount.ToString("C0", new CultureInfo("vi-VN"))</span></p>
                                </li>
                            }
                            <li><a href="#">Tiền Ship <span><input style="height:30px; width:80px; border: none; outline: none; background-color:#e8f0f2;" value="@ViewBag.fee" readonly id="feeship">VND</span></a></li>
                            @if (ViewBag.Value != null)
                            {
                                var totall = @ViewBag.TT - @ViewBag.DiscountAmount;
                                var totalll = @ViewBag.TT - @ViewBag.FirstDiscountAmount;
                                var fe = @ViewBag.fee;

                                if (ViewBag.DiscountAmount > ViewBag.FirstDiscountAmount)
                                {

                                    <li>

                                        <a href="#">Số tiền giảm:<span>@ViewBag.FirstDiscountAmount.ToString("C0", new CultureInfo("vi-VN"))</span></a>
                                        <a href="#">

                                           Tiền hàng sau giảm
                                            <span>
                                                @((Convert.ToDecimal(ViewBag.TT) - Convert.ToDecimal(ViewBag.FirstDiscountAmount)).ToString("C0", new CultureInfo("vi-VN")))
                                            </span>
                                        </a>
                                        <a href="#">Tổng tiền <span> <input readonly style="height:30px; width:80px; border: none; outline: none; background-color:#e8f0f2;" value="@(ViewBag.TT -  ViewBag.FirstDiscountAmount+ViewBag.fee)" id="tShip" /> VND</span></a>

                                    </li>


                                }
                                else
                                {
                                    <li>
                                        <a href="#">Số tiền giảm:<span>@ViewBag.DiscountAmount.ToString("C0", new CultureInfo("vi-VN"))</span></a>

                                        <a href="#">
                                            Tiền hàng sau giảm
                                            <span>
                                                @((Convert.ToDecimal(ViewBag.TT) - Convert.ToDecimal(ViewBag.DiscountAmount)).ToString("C0", new CultureInfo("vi-VN")))
                                            </span>
                                        </a>
                                        <a href="#">Tổng tiền <span> <input readonly style="height:30px; width:80px; border: none; outline: none; background-color:#e8f0f2;" value="@(ViewBag.TT -  ViewBag.DiscountAmount+ViewBag.fee)" id="tShip" /> VND</span></a>
                                    </li>

                                }
                            }
                            else
                            {
                                <li>
                                    @* <a href="#">
                                Total
                                <span>
                                @((Convert.ToDecimal(ViewBag.TT) + Convert.ToDecimal(ViewBag.fee)).ToString("C0", new CultureInfo("vi-VN")))
                                </span>
                                </a> *@
                                    <a href="#">Tổng tiền <span> <input readonly style="height:30px; width:80px; border: none; outline: none; background-color:#e8f0f2;" value="@(ViewBag.TT+ViewBag.fee)" id="tShip" /> VND</span></a>
                                </li>

                            }
                          
                        </ul>



                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Thanh toán(COD)</label>
                                <div class="check"></div>
                            </div>
                            <p>
                                Thanh toán khi kiểm tra và nhận hàng
                            </p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6"> Thanh toán(VNPAY) </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>
                                Thanh toán bằng ví vnpay
                            </p>
                        </div>

                    </div>


                </div>
            </div>



        </div>
    </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<script>

    // Lấy tham chiếu đến thẻ select bằng id
    var select = document.getElementById("countrySelect");
    var selectDistrict = document.getElementById("districtSelect");
    var selectWard = document.getElementById("wardSelect");
    var ldistrict = new Array();
    var lward = new Array();
    var iddis = 0;
    var idwar = 0;
    var inputdis = document.getElementById("district");
    var inputward = document.getElementById("ward");
    var btncf = document.getElementById("btncf");



    // Thêm một sự kiện onchange cho thẻ select
    select.onchange = function() {
        // Lấy giá trị được chọn trong thẻ select
        var selectedCountry = select.value;
        ldistrict.splice(0, ldistrict.length);
        $("#districtSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList
        $("#wardSelect").empty();
        inputdis.value = "";
        inputward.value = "";
        if (document.getElementById("tShip").value != 0) {
            document.getElementById("tShip").value = parseFloat(document.getElementById("tShip").value) - parseFloat(document.getElementById("feeship").value);
        }
        else {
            document.getElementById("tShip").value = 0;
        }
        document.getElementById("feeship").value = 0;
        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/district", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, provinceid: selectedCountry,
            body: provinceid = selectedCountry
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function(districs) {
                    ldistrict.push(districs);
                    console.log(ldistrict);
                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = districs.districtID; // Gán giá trị cho option
                    option.value = districs.districtName; // Gán nội dung hiển thị cho option
                    selectDistrict.appendChild(option); // Thêm option vào thẻ select

                });

            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });

    };

    //chọn phường
    inputdis.onchange = function() {

        inputward.value = "";
        $("#wardSelect").empty();
        // Lấy giá trị được chọn trong thẻ select
        var district = 0;
        lward.splice(0, ldistrict.length);
        ldistrict.forEach(function(id) {
            if (id.districtName == inputdis.value) {
                district = id.districtID;
                iddis = id.districtID;
            }

        });
        console.log(iddis);
        $("#wardSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList


        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/ward", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, districtid: district,
            body: districtid = district
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function(ward) {

                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = ward.wardCode; // Gán giá trị cho option
                    option.value = ward.wardName; // Gán nội dung hiển thị cho option
                    selectWard.appendChild(option); // Thêm option vào thẻ select
                    lward.push(ward);


                });
            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });
    };

    var t = 0;
    inputward.onchange = function() {

        // Lấy giá trị được chọn trong thẻ select
        var district = 0;
        var ward = 0
        lward.forEach(function(id) {
            if (id.wardName == inputward.value) {

                idwar = id.wardCode;
                ward = id.wardCode;
            }

        });
        var data = {
            towardcode: ward,
            to_district_id: iddis,
        };
        var json = JSON.stringify(data);
        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/Feeship", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: json
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                console.log(document.getElementById("tShip").value);


                document.getElementById("feeship").value = data.total;
                document.getElementById("fee").value = data.total;
                document.getElementById("tShip").value = parseFloat(data.total) + parseFloat(document.getElementById("tShip").value);


            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });

    };
    var inputon = document.getElementById("f-option6");
    var inputoff = document.getElementById("f-option5");
    inputon.onclick = function() {
        document.getElementById("pay").value = "Online"
    }
    inputoff.onclick = function() {
        document.getElementById("pay").value = "shipCod"
    }



</script>
<script>
    function confirmCancelVoucher() {
        var result = confirm("Bạn có chắc chắn muốn hủy voucher?");
        if (result) {
            // Chuyển đến trang xử lý hủy voucher
            window.location.href = "@Url.Action("Checkout", "Home")";
        }
    }
    function formatToVND(value) {
        return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }

    let moneyInput = document.getElementById('tShip');

    // Thêm sự kiện 'input' để định dạng giá trị ngay khi người dùng nhập liệu
    moneyInput.addEventListener('input', function() {
        // Lấy giá trị nhập vào từ input
        let inputValue = parseFloat(moneyInput.value);

        // Kiểm tra xem giá trị nhập vào có phải là một số hợp lệ hay không
        if (!isNaN(inputValue)) {
            // Nếu là số hợp lệ, định dạng giá trị và gán lại vào input
            moneyInput.value = formatToVND(inputValue);
        } else {
            // Nếu không phải số hợp lệ, xóa giá trị trong input
            moneyInput.value = '';
        }
    });
    document.addEventListener('DOMContentLoaded', function() {
        var phoneNumberInput = document.getElementById('phone');
        var phoneErrorSpan = document.getElementById('phoneError');

        phoneNumberInput.addEventListener('input', function() {
            var inputValue = phoneNumberInput.value;
            var cleanedValue = inputValue.replace(/[^0-9+]/g, '');
            cleanedValue = cleanedValue.slice(0, 10);
            phoneNumberInput.value = cleanedValue;
        });

        phoneNumberInput.addEventListener('blur', function() {
            validatePhoneNumber(phoneNumberInput.value);
        });

        function validatePhoneNumber(phoneNumber) {
            var phoneRegex = /^\+?[0-9]{1,4}-?[0-9]{3,4}-?[0-9]{4,}$/;

            if (phoneRegex.test(phoneNumber) && phoneNumber.startsWith('0')) {
                // Nếu số điện thoại hợp lệ, ẩn thông báo và hiển thị nền trắng cho ô nhập
                phoneErrorSpan.textContent = '';
                phoneNumberInput.style.backgroundColor = 'white';
            } else {
                if (phoneNumber.length < 10) {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại có ít hơn 10 kí tự
                    phoneErrorSpan.textContent = 'Số điện thoại phải có ít nhất 10 kí tự.';
                } else if (!phoneNumber.startsWith('0')) {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại không bắt đầu bằng số 0
                    phoneErrorSpan.textContent = 'Số điện thoại phải bắt đầu bằng số 0.';
                } else {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại không hợp lệ
                    phoneErrorSpan.textContent = 'Số điện thoại không hợp lệ.';
                }


            }
        }
    });
    function validateForm() {
        var fullName = document.getElementById('first').value;
        var phoneNumber = document.getElementById('phone').value;
        var specificAddress = document.getElementById('text').value;
        var province = document.getElementById('countrySelect').value;
        var district = document.getElementById('district').value;
        var ward = document.getElementById('ward').value;

        // Kiểm tra xem các trường có rỗng hay không
        if (fullName.trim() === '' || phoneNumber.trim() === '' || specificAddress.trim() === '' || province.trim() === '' || district.trim() === '' || ward.trim() === '') {
            Swal.fire({
                title: "Hãy điền đầy đủ thông tin",
                icon: "warning",
                confirmButtonText: "Ok"
            })
            return false; // Ngăn chặn form submit
        }

        // Thêm các điều kiện kiểm tra khác nếu cần thiết
        // ...

        return true; // Cho phép form submit
    }



</script>
