@{
    ViewData["Title"] = "DatHang";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
@using APPDATA.Models;
    List<Image> image = ViewBag.image;
     BillDetail bill = ViewBag.Billct;
    var img = image.FirstOrDefault(c => c.IdProductdetail == bill.ProductDetailID);
}
@*
<h1 style="color:forestgreen">Đặt hàng thành công</h1>
<h2 style="margin-top:50px">Thông tin đơn hàng</h2>

<div style="margin-left:100px;color:black;font-size:25px" >
    <span>Trạng thái đơn hàng : @if (ViewBag.Bill.Status==1) { <span>Chờ xác nhận</span>}</span>
    <p>Tên sản phẩm : @ViewBag.sp.Name </p>
    <p>Tổng tiền : @ViewBag.Bill.TotalMoney</p>
    <p>Mã hóa đơn : @ViewBag.Bill.Code </p>
    <p>SDT người dùng : @ViewBag.Bill.PhoneNumber</p>
    <p>Địa chỉ : @ViewBag.Bill.Address</p>
    <p>Ngày tạo : @ViewBag.Bill.CreateDate </p>
    <p>Số lượng : @ViewBag.Billct.Amount </p>
    <p>Size : @ViewBag.sizee.Name </p>
    <p>Màu : @ViewBag.Collor.Name </p>

</div> *@





<body>
    <!--================ Start Header Menu Area =================-->

    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1 style="color:green">Đặt hàng thành công</h1>

                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->
    <!--================Order Details Area =================-->
    <section class="order_details section-margin--small">
        <div class="container">


            <div class="order_details_table">
                <h2>Chi tiết đơn hàng </h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Size</th>
                                <th scope="col">Màu</th>
                                <th scope="col">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <img src="~/images/@img.Name" style="width: 100px; height:auto" alt="">
                                </td> 
                                <td>
                                    <p>@ViewBag.sp.Name</p>
                                </td>

                                <td>
                                    <h5>@ViewBag.Billct.Amount</h5>
                                </td>
                                <td>
                                    <p>@ViewBag.sizee.Name</p>
                                </td>
                                <td>
                                    <p>@ViewBag.Collor.Name</p>
                                </td>
                                <td>
                                    <p>@ViewBag.Billct.Price</p>
                                </td>

                            </tr>
                            <tr>

                                <td><h4 style="color:black"><hr style="color:black"></h4></td>
                                <td><h4 style="color:black"><hr style="color:black"></h4></td>
                                <td><h4 style="color:black"><hr style="color:black"></h4></td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Shipping</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>@ViewBag.Bill.ShipFee</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Số điện thoại</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>@ViewBag.Bill.PhoneNumber</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Địa chỉ</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>@ViewBag.Bill.Address</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Tổng tiền</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>@ViewBag.Bill.TotalMoney</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Order Details Area =================-->





</body>
