@using System.Globalization;
@model APPDATA.Models.ProductDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Single</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
@if (TempData["mess"] != null)
{
    <div class="alert alert-warning">
        @TempData["mess"]
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
}

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">

                <div class="owl-carousel owl-theme s_Product_carousel  carousel slide autoplay ">

                    @{
                        var isFirstImage = true;
                    }

                    @foreach (var pd in ViewBag.lspd)
                    {
                        @foreach (var img in ViewBag.Img)
                        {
                            if (img.IdProductdetail == pd.Id)
                            {
                                <div class="single-prd-item">
                                    <img class="img-fluid" src="~/images/@img.Name" alt="@img.Name">
                                </div>
                            }
                        }
                    }
                    <!-- Một ảnh mẫu nếu không có ảnh nào -->
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                </div>
                <div class="voucher-container" style="margin-top: 15px">
                    <div class="voucher-list">
                        <form asp-controller="Home" asp-action="SaveVoucherForUser" method="post">
                            <ul class="voucher-list" style="list-style-type: none; padding: 0; margin: 0; display: inline-flex; flex-wrap: nowrap;">
                                @foreach (var vc in ViewBag.Voucher)
                                {
                                    <li class="voucher-item" style="background: #F5F5F5; border-radius: 5px; color: #FF6A6A">

                                        <a>Tên: @vc.Name - Giảm: @vc.Value% - Max: @vc.DiscountAmount.ToString("C0", new CultureInfo("vi-VN"))</a>
                                        <input type="hidden" name="voucherId" value="@vc.Id" />
                                        <input type="submit" value="+" class="btn btn-light addVoucherButton" data-voucher-id="@vc.Id" style="margin-left: 5px; color: #FF6A6A" />
                                    </li>
                                }
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <form asp-action="AddToCart" asp-controller="Cart">
                    <input hidden name="id" value="@Model.Id" />
                    <div class="s_product_text">
                        <h3>@Model.Name</h3>
                        <h2>@Model.Price.ToString("C0", new CultureInfo("vi-VN"))</h2>
                        <p>@Model.Desciption</p>
                        <ul class="list">
                            <li>
                                Sizes:
                                @{
                                    var lstS = new List<Guid>();
                                    foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstS.Any(c => c == pd.Id_Size))
                                        {
                                            continue;
                                        }
                                        foreach (var item in ViewBag.Size)
                                        {
                                            if (pd.Id_Size == item.Id)
                                            {
                                                lstS.Add(pd.Id_Size);
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" value="@item.Id" class="custom-control-input" asp-for=Id_Size id="@item.Id" name="size">
                                                    <label class="custom-control-label" for="@item.Id">@item.Name</label>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </li>
                            <li>
                                Colors:
                                @{
                                    var lstC = new List<Guid>();
                                    foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstC.Any(c => c == pd.Id_Color))
                                        {
                                            continue;
                                        }
                                        foreach (var item in ViewBag.Color)
                                        {
                                            if (pd.Id_Color == item.Id)
                                            {
                                                lstC.Add(pd.Id_Color);
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" value="@item.Id" class="custom-control-input" id="@item.Id" name="color">
                                                    <label class="custom-control-label" for="@item.Id">@item.Name</label>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </li>
                        </ul>
                        <div class="product_count">
                            <label for="Soluong">Quantity:</label>
                            <input type="number" id="sst" size="2" value="1" title="Quantity:" class="input-text qty" min="0" max="@Model.Quantity" name="Soluong">
                        </div>
                        <button type="submit" data-product-id="@Model.Id" class="button primary-btn">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Hướng dẫn chọn size</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Description</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Comments</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                aria-selected="false">Reviews</a>
                </li>*@
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <img style="width:100%" src="~/UserImage/chonize.jpg" />
                <img style="width:100%" src="~/UserImage/chonquan.webp" />
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Color</h5>
                                </td>
                                <td>
                                    @{
                                        var lstC1 = new List<Guid>();
                                    }
                                    @foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstC1.Any(c => c == pd.Id_Color))
                                        {
                                            continue;
                                        }
                                        @foreach (var item in ViewBag.Color)
                                        {
                                            if (pd.Id_Color == item.Id)
                                            {
                                                lstC1.Add(pd.Id_Color);
                                                <h5 style="display: inline-block; margin-right: 10px;">@item.Name</h5>

                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Size</h5>
                                </td>
                                <td>

                                    @{
                                        var lstS1 = new List<Guid>();
                                    }
                                    @foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstS1.Any(c => c == pd.Id_Size))
                                        {
                                            continue;
                                        }
                                        @foreach (var item in ViewBag.Size)
                                        {
                                            if (pd.Id_Size == item.Id)
                                            {
                                                lstS1.Add(pd.Id_Size);
                                                <h5 style="display: inline-block; margin-right: 10px;">@item.Name,</h5>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5> Category</h5>
                                </td>
                                <td>

                                    @{
                                        var lstca = new List<Guid>();
                                    }
                                    @foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstca.Any(c => c == pd.Id_Category))
                                        {
                                            continue;
                                        }
                                        @foreach (var item in ViewBag.Category)
                                        {
                                            if (pd.Id_Category == item.Id)
                                            {
                                                lstca.Add(pd.Id_Category);
                                                <h5 style="display: inline-block; margin-right: 10px;">@item.Name,</h5>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Material</h5>
                                </td>
                                <td>

                                    @{
                                        var lstMa = new List<Guid>();
                                    }
                                    @foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstMa.Any(c => c == pd.Id_Material))
                                        {
                                            continue;
                                        }
                                        @foreach (var item in ViewBag.Material)
                                        {
                                            if (pd.Id_Material == item.Id)
                                            {
                                                lstMa.Add(pd.Id_Material);
                                                <h5 style="display: inline-block; margin-right: 10px;">@item.Name,</h5>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Supplier</h5>
                                </td>
                                <td>

                                    @{
                                        var lstSu = new List<Guid>();
                                    }
                                    @foreach (var pd in ViewBag.lspd)
                                    {
                                        if (lstSu.Any(c => c == pd.Id_supplier))
                                        {
                                            continue;
                                        }
                                        @foreach (var item in ViewBag.Supplier)
                                        {
                                            if (pd.Id_supplier == item.Id)
                                            {
                                                lstSu.Add(pd.Id_supplier);
                                                <h5 style="display: inline-block; margin-right: 10px;">@item.Name,</h5>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Description</h5>
                                </td>
                                <td>

                                    <h5>@Model.Desciption</h5>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Top <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row mt-30">

            @{
                var lstP = new List<Guid>();
                var so = 0;
                @foreach (var ProD in ViewBag.PD)
                {
                    if (lstP.Any(c => c == ProD.Id_Product))
                    {
                        continue;
                    }
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        @foreach (var img in ViewBag.Img)
                        {
                            if (img.IdProductdetail == ProD.Id)
                            {
                                so++;
                                lstP.Add(ProD.Id_Product);
                                <div class="single-search-product d-flex">
                                    <a href="@Url.Action("Details","Home",new{id=ProD.Id })"><img src="~/images/@img.Name" alt=""></a>
                                    <div class="desc">
                                        <a href="@Url.Action("Details","Home",new{id=ProD.Id })" class="title">@ProD.Name</a>
                                        <div class="price">@ProD.Price.ToString("C0", new CultureInfo("vi-VN"))</div>
                                    </div>
                                </div>
                                if (so == 3)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>

 <script>
    $('body').on('click', '.button.primary-btn', function (e) {
        e.preventDefault();
        var id = $(this).data('product-id');
        var quantity = parseInt(document.getElementById('sst').value);
        var quantityText = $('.o').text();
        if (quantityText != '') {
            quantity = parseInt(quantityText);
        }
        var size = $("input[name='size']:checked").val();
        var color = $("input[name='color']:checked").val();


        $.ajax({
            url: '/cart/AddToCart',
            type: 'POST',
          data: { id: id, Soluong: quantity, size: size, color:color},
            success: function (rs) {
                if (rs.success) {
                    // Hiển thị thông báo thành công
                    Swal.fire({
                        icon: 'success',
                        title: 'Thêm vào giỏ hàng thành công!',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });

                    // Cập nhật số lượng sản phẩm trong giỏ hàng
                    $('.nav-shop__circle').html(rs.count);
                } else {
                    // Hiển thị thông báo lỗi nếu cần
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Có lỗi xảy ra khi thêm vào giỏ hàng.',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });
                }
            }
        });
    });

</script> 
<!--================ end related Product area =================-->
<script>
    $(document).ready(function () {
        $(".s_Product_carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000, // Thời gian chờ giữa các lượt autoplay (ms)
            autoplayHoverPause: true // Tạm dừng khi di chuột qua
        });
    });
</script>