@using APPDATA.Models
@using System.Globalization;
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    List<Image> Img = ViewBag.Img;
}

<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="~/contentwebb/img/home/hero-banner.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>Shop is fun</h4>
                    <h1>Browse Our Premium Product</h1>
                    <p>Us which over of signs divide dominion deep fill bring they're meat beho upon own earth without morning over third. Their male dry. They are great appear whose land fly grass.</p>
                    <a class="button button-hero" href="#">Browse Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel__slide">
            <img src="~/UserImage/_a7503094-9cb1-4478-85ac-cce93de06b93.jpg" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="~/UserImage/_a7cad4a5-b8c6-412e-911d-c5cdd092c043.jpg" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="~/UserImage/_fc39108d-a08b-466d-b27f-b8a5fd05c560.jpg" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
    </div>
</section>
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">
            @{
                var lstpr = new List<Guid>();
                var ht = 0;
            }
            @foreach (var item in ViewBag.Result)
            {
                ht++;
                if (ht == 12)
                {
                    break;
                }
                if (lstpr.Any(c => c == item.Id_Product))
                {
                    continue;
                }
                lstpr.Add(item.Id_Product);
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            @foreach (var img in Img)
                            {
                                if (img.IdProductdetail == item.Id)
                                {
                                    <img class="card-img" src="~/images/@img.Name" width="150px" height="250px"
                                         alt="">
                                    break;
                                }

                            }
                            <ul class="card-product__imgOverlay">
                                <li><a href="@Url.ActionLink("details","home",new{id=item.Id})"><button><i class="ti-search"></i></button></a></li>

                                <li>
                                    <button class="buy-btn" data-product-id="@item.Id">
                                        <i class="ti-shopping-cart"></i>
                                    </button>
                                </li>

                                <li><button><i class="ti-heart"></i></button></li>

                                <li><button> @Html.ActionLink("Mua hàng", "ViewBill", new { id=item.Id_Product }, new { style = "color:black;" })</button></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Accessories</p>

                            <h4 class="card-product__title"><a href="single-product.html">@item.Name</a></h4>
                            <p class="card-product__price"> @item.Price.ToString("C0", new CultureInfo("vi-VN"))</p>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
<!-- ================ trending product section end ================= -->
<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="offer__content text-center">
                    <h3>Up To 50% Off</h3>
                    <h4>Winter Sale</h4>
                    <p>Him she'd let them sixth saw light</p>
                    <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Latest <span class="section-intro__style">News</span></h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/contentwebb/img/blog/blog1.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                            <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                        </ul>
                        <h4 class="card-blog__title"><a href="single-blog.html">The Richland Center Shooping News and weekly shooper</a></h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/contentwebb/img/blog/blog2.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                            <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                        </ul>
                        <h4 class="card-blog__title"><a href="single-blog.html">The Shopping News also offers top-quality printing services</a></h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/contentwebb/img/blog/blog3.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                            <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                        </ul>
                        <h4 class="card-blog__title"><a href="single-blog.html">Professional design staff and efficient equipment you’ll find we offer</a></h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('body').on('click', '.buy-btn', function (e) {
        e.preventDefault();
        var id = $(this).data('product-id');
        var quantity = 1;
        var quantityText = $('.o').text();
        if (quantityText != '') {
            quantity = parseInt(quantityText);
        }

        $.ajax({
            url: '/cart/AddToCart',
            type: 'POST',
            data: { id: id, Soluong: quantity },
            success: function (rs) {
                if (rs.success) {
                    // Hiển thị thông báo thành công
                    Swal.fire({
                        icon: 'success',
                        title: 'Thêm vào giỏ hàng thành công!',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });

                    // Cập nhật số lượng sản phẩm trong giỏ hàng
                    $('.nav-shop__circle').html(rs.count);
                } else {
                    // Hiển thị thông báo lỗi nếu cần
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Có lỗi xảy ra khi thêm vào giỏ hàng.',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });
                }
            }
        });
    });

</script>

