@using APPDATA.Models
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <!-- Color Start -->
                <div class="sidebar-categories">
                    <div class="head" style="background: #f1f6f7; color: #999999">Color</div>
                    <form id="color-filter-form">
                        <ul>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="color-all" value="all" name="color" checked>
                                <label for="color-all">All Color</label>
                            </li>
                            @{
                                foreach (var item in ViewBag.color)
                                {
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="checkbox" id="color-red" value="@item.Id" name="color">
                                        <label for="@item.Id">@item.Name</label>
                                    </li>
                                }
                            }
                          
                        
                        </ul>
                    </form>
                </div>
                <!-- Color End -->
                <!-- Size Start -->
                <div class="sidebar-categories">
                    <div class="head" style="background: #f1f6f7; color: #999999">Size</div>
                    <form id="size-filter-form">
                        <ul>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="size-all" value="all" name="size" checked>
                                <label for="size-all">All Size</label>
                            </li>
                              @{
                                foreach (var item in ViewBag.size)
                                {
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="checkbox" id="size-s" value="@item.Id" name="size">
                                        <label for="@item.Id">@item.Name</label>
                                    </li>
                                }
                            }                                                                             
                        </ul>
                    </form>
                </div>
                <!-- Size End -->
                <!-- Price Start -->
                <div class="sidebar-categories">
                    <div class="head" style="background: #f1f6f7; color: #999999">Price</div>
                    <form id="price-filter-form">
                        <ul>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-all" value="all" name="price" checked>
                                <label for="price-all">All Price</label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-1" value="0-100000" name="price">
                                <label for="price-1">$0-$100000</label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-2" value="100000-200000" name="price">
                                <label for="price-2">$100000-$200000</label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-3" value="200000-300000" name="price">
                                <label for="price-3">$200000-$300000</label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-4" value="300000-400000" name="price">
                                <label for="price-4">$300000-$400000</label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="checkbox" id="price-5" value="400000-500000" name="price">
                                <label for="price-5">$400000-$500000</label>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- Price End -->
                <button id="btnFilter" style="margin-left: 110px; background: #0066FF; color: black" class="btn btn-close">Filter</button>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting mr-auto">
                        <select id="showProducts">
                            <option value="12">Show 12</option>
                            <option value="24">Show 24</option>
                            <option value="36">Show 36</option>
                            <option value="48">Show 48</option>
                            <option value="60">Show 60</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <form asp-action="Shop">

                            <input name="sortOrder" />
                            <button type="submit" class="btn btn-light" style="font-size: 18px; border-radius: inherit"><i class='bx bx-sort-alt-2'></i></button>

                         </form>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <form id="sortForm" method="get" asp-action="Shop">
                                <select id="sortOrder" name="sortOrder" style="font-size: 18px; border-radius: inherit">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                                <button type="submit" class="btn btn-light" style="font-size: 18px; border-radius: inherit"><i class='bx bx-sort-alt-2'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row" id="filtered-products">
                        @if (ViewBag.Products != null && ViewBag.Products.Count > 0)
                        {
                            foreach (var product in ViewBag.Products)
                            {
                                <div class="col-md-6 col-lg-4">
                                    <div class="card text-center card-product">
                                        <div class="card-product__img">
                                            @if (!string.IsNullOrEmpty(product.Image.Name))
                                            {
                                                <img class="card-img" src="~/images/@product.Image.Name" alt="ErrorImg" width="150px" height="250px">
                                            }
                                            <ul class="card-product__imgOverlay">
                                                <li><a href="@Url.ActionLink("details","home",new{id=product.ProductDetail.Id})"><button><i class="ti-search"></i></button></a></li>
                                                <li><a href="@Url.ActionLink("Addtocart","cart",new{id=product.ProductDetail.Id,Soluong=1})"><button><i class="ti-shopping-cart"></i></button></a></li>

                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-product__title"><a href="#">@product.ProductDetail.Name</a></h4>
                                            <p class="card-product__price">$@product.ProductDetail.Price</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h4 style="margin: auto">Không có sản phẩm nào để hiển thị</h4>
                        }
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->	
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Thêm sự kiện cho nút lọc
        document.getElementById("btnFilter").addEventListener("click", function () {
            var colors = getSelectedCheckboxes("color-filter-form");
            var sizes = getSelectedCheckboxes("size-filter-form");
            var priceRange = getSelectedCheckboxes("price-filter-form");

            var data = {
                Colors: colors,
                Sizes: sizes,
                PriceRanges: priceRange
            };

            // Gửi yêu cầu lọc đến server
            fetch("/Home/GetFilteredProducts", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(handleResponse)
            .then(updateFilteredProducts)
            .catch(handleError);
        });

        // Hàm xử lý phản hồi từ fetch
        function handleResponse(response) {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error("Error sending data to the controller");
            }
        }

        // Hàm cập nhật sản phẩm sau khi lọc
        function updateFilteredProducts(result) {
            $("#filtered-products").html(result);
        }

        // Hàm xử lý lỗi
        function handleError(error) {
            console.log("An error occurred: ", error);
        }
        var productsData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Products ?? new List<ProductDetail>()));
        // Hàm lấy giá trị của các checkbox được chọn trong một biểu mẫu
        function getSelectedCheckboxes(formId) {
            var checkboxes = $('#' + formId + ' input[type="checkbox"]:checked');
            return checkboxes.map(function () {
                return $(this).val();
            }).get();
        }
    });
</script>
<script src="~/js/asc_desc.js"></script>