@model APPDATA.Models.Address;
@{
    ViewData["Title"] = "ViewBill";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    Guid id;
    ViewBag.Tinh = "";

}



@* <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card text-center card-product">
        <div class="card-product__img">
            <img class="card-img" src="~/contentwebb/img/product/product1.png" alt="">

        </div>

        <p style="float:left">Tên sản phẩm : @ViewBag.pro.Name </p>

        <p style="float:left">Giá : @ViewBag.pro.Price</p>
        <form id="datHangForm" asp-controller="Home" asp-action="DatHang" method="post">





            <input type="hidden" name="productId" value="@ViewBag.id" />


            <div class="mb-3">

                <select name="size" class="form-select">
                    <option value=""> Chọn Size</option>
                    @foreach (var item in ViewBag.prd)
                    {
                        @foreach (var size in ViewBag.size)
                        {
                            if (item.Id_Size == size.Id)
                            {
                                <option value="@item.Id_Size"> @size.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="mb-3" >
                <select name="color"  class="form-select">
                    <option value=""> Chọn Màu </option>
                    @foreach (var item in ViewBag.prd)
                    {
                        @foreach (var color in ViewBag.color)
                        {
                            if (item.Id_Color == color.Id)
                            {
                                <option value="@item.Id_Color"> @color.Name</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="mb-3" style="margin-top:20px">

                <input class="form-control" type="text" name="soluong" placeholder="Số lượng" style="margin-top: 20px">
            </div>
            <div class="mb-3">

                <input class="form-control" type="text" name="sdt" placeholder="Số điện thoại">
            </div>
            <div class="mb-3">

                <input class="form-control" type="text" name="diachi" placeholder="Địa chỉ">
            </div>
            <button type="submit" style="margin-top: 30px;margin-left:10px;float:left">Đặt hàng</button>
        </form>

    </div>
</div>
 *@




<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Product Checkout</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Checkout Area =================-->
<section class="order_details section-margin--small">
    <div class="container">

        <div>
            <div class="row">

                <div class="col-lg-8">
                    <h3>Đơn hàng</h3>

                    <img id="myImage" src="~/images/@ViewBag.image.Name" style="width: 250px; height:auto;margin-top : 50px;margin-bottom:50px" alt="">
                    <form class="row contact_form" action="~/home/dathang" method="post" novalidate="novalidate">
                        <input type="hidden" name="productId" value="@ViewBag.id" />

                        <input name="pay" id="pay" hidden value="shipcod" />
                        <input name="pay" id="price" hidden value="" />
                        <div class="col-md-12 form-group">

                            <select name="size" class="form-select">
                                <option value=""> Chọn Size</option>
                                 @foreach (var size in ViewBag.size)
                                    {
                                       
                                            <option value="@size.Id"> @size.Name</option>

                                    }
                              
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <select id="color" name="color" class="form-select">
                                <option value=""> Chọn Màu </option>
                            
                                    @foreach (var color in ViewBag.color)
                                    {

                                    <option value="@color.Id"> @color.Name</option>

                                       
                                    }
                                
                            </select>

                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" id="soluong" name="soluong" placeholder="Số lượng">
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control" name="sdt" asp-for="@Model.PhoneNumber" placeholder="SDT">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span name="error" style="color:red;margin-left:15px;font-size:revert"></span><br>
                                    <div />
                                </div>
                            </div>


                      






                                <div class="col-md-12 form-group p_star">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <select class="country_select" id="countrySelect" asp-for="@Model.Province">
                                                @foreach (var item in ViewBag.province)
                                                {
                                                    if (Model != null)
                                                    {
                                                        if (item.ProvinceName == Model.Province)
                                                        {
                                                            <option selected value="@item.ProvinceID">@item.ProvinceName</option>
                                                        }
                                                    }

                                                    <option value="@item.ProvinceID">@item.ProvinceName</option>
                                                }
                                            </select>
                                            <input type="hidden" name="province2" value="" />
                                        </div>
                                        <div class="col-lg-4">

                                            <input list="districtSelect" id="district" name="district" asp-for="@Model.District" placeholder="Chọn quận huyện">
                                            <datalist id="districtSelect">
                                            </datalist>
                                        </div>
                                        <div class="col-lg-4">

                                            <input list="wardSelect" id="ward" name="ward" placeholder="Chọn xã phường" asp-for="@Model.Ward">
                                            <datalist id="wardSelect">
                                            </datalist>
                                        </div>
                                        <div class="col-md-7 form-group">
                                            <input type="text" style="margin-top:10px" class="form-control" name="diachict" asp-for="@Model.SpecificAddress" placeholder="Địa chỉ cụ thể">
                                        </div>
                                    <div class="col-md-12 form-group">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <button style="margin-bottom: 20px" type="button" id="submitOrder" class="button button-paypal">Xác nhận</button>
                                                <div />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input name="pay" id="pay" hidden value="shipcod" />

                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option5" name="selector">
                                        <label for="f-option5">Thanh toán thường</label>
                                        <div class="check"></div>
                                    </div>

                                </div>
                                <div class="payment_item active">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option6" name="selector">
                                        <label for="f-option6"> Thanh toán trực tuyến </label>
                                        <img src="img/product/card.jpg" alt="">
                                        <div class="check"></div>
                                    </div>

                                </div>
                                <div class="col-md-12 form-group">



                                    <ul class="list list_2">

                                        <li><a href="#" style="text-decoration:none;color:black">Phí ship :  <span><input width="30px" style="height:30px;border:none" readonly id="feeship" name="ship" value="@ViewBag.fee"></span></a></li>

                                    </ul>
                                   

                                        <span>Tổng tiền :  <span><input width="30px" style="height:30px;border:none" readonly id="tongtien" name="tongtien" value=""></span></span>

                               
                                </div>
                                <div class="text-center  form-group">
                                    <button type="submit" class="button button-paypal">Order Confirmation</button>
                                </div>

                    </form>
                </div>




            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<script>

    // Lấy tham chiếu đến thẻ select bằng id
    var select = document.getElementById("countrySelect");
    var selectDistrict = document.getElementById("districtSelect");
    var selectWard = document.getElementById("wardSelect");
    var ldistrict = new Array();
    var lward = new Array();
    var iddis = 0;
    var idwar = 0;
    var inputdis = document.getElementById("district");
    var inputward = document.getElementById("ward");
    // Thêm một sự kiện onchange cho thẻ select
    select.onchange = function () {
        // Lấy giá trị được chọn trong thẻ select
        var selectedCountry = select.value;
        ldistrict.splice(0, ldistrict.length);
        $("#districtSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList
        $("#wardSelect").empty();
        inputdis.value = "";
        inputward.value = "";
        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/district", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, provinceid: selectedCountry,
            body: provinceid = selectedCountry
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function (districs) {
                    ldistrict.push(districs);
                    console.log(ldistrict);
                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = districs.districtID; // Gán giá trị cho option
                    option.value = districs.districtName; // Gán nội dung hiển thị cho option
                    selectDistrict.appendChild(option); // Thêm option vào thẻ select

                });

            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });


    };

    //chọn phường
    inputdis.onchange = function () {
        // Lấy giá trị được chọn trong thẻ select
        var district = 0;
        lward.splice(0, ldistrict.length);
        ldistrict.forEach(function (id) {
            if (id.districtName == inputdis.value) {
                district = id.districtID;
                iddis = id.districtID;
            }

        });
        console.log(iddis);
        $("#wardSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList


        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/ward", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, districtid: district,
            body: districtid = district
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function (ward) {

                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = ward.wardCode; // Gán giá trị cho option
                    option.value = ward.wardName; // Gán nội dung hiển thị cho option
                    selectWard.appendChild(option); // Thêm option vào thẻ select
                    lward.push(ward);


                });
            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });
    };


    inputward.onchange = function () {
        var district = 0;
        var ward = 0;
        lward.forEach(function (id) {
            if (id.wardName == inputward.value) {
                idwar = id.wardCode;
                ward = id.wardCode;
            }
        });

        var sl = document.getElementById("soluong").value;

        var data = {
            towardcode: ward,
            to_district_id: iddis
        };

        fetch(`/Home/Feeship2?towardcode=${ward}&to_district_id=${iddis}&soluong=${sl}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.total);
                document.getElementById("feeship").value = data.total;
            })
            .catch(error => {
                console.error(error);
            });

        // Các đoạn mã xử lý sự kiện onclick của inputon và inputoff cũng như các đoạn mã khác sau đây
    };
    // Hàm thực hiện các thao tác sau khi giá trị của soluong thay đổi
    // Sự kiện oninput của input soluong
    document.getElementById("soluong").oninput = function () {
        handleInputwardChange(); // Gọi hàm xử lý của inputward khi giá trị của soluong thay đổi
    };

    function handleInputwardChange() {
        // Gọi lại hành động khi giá trị của inputward thay đổi

        ward = @ViewBag.xa;
        iddis = @ViewBag.huyen;
        lward.forEach(function (id) {
            if (id.wardName == inputward.value) {
                idwar = id.wardCode;
                ward = id.wardCode;

            }
        });
        ldistrict.forEach(function (id) {
            if (id.districtName == inputdis.value) {
                district = id.districtID;
                iddis = id.districtID;
            }

        });

        var sl = document.getElementById("soluong").value;

        var data = {
            towardcode: ward,
            to_district_id: iddis
        };

        fetch(`/Home/Feeship2?towardcode=${ward}&to_district_id=${iddis}&soluong=${sl}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.total);
                document.getElementById("feeship").value = data.total;
            })
            .catch(error => {
                console.error(error);
            });

        // Các đoạn mã xử lý sự kiện onclick của inputon và inputoff cũng như các đoạn mã khác sau đây
    }


    var inputon = document.getElementById("f-option6");
    var inputoff = document.getElementById("f-option5");
    inputon.onclick = function () {
        document.getElementById("pay").value = "Online"
    }
    inputoff.onclick = function () {
        document.getElementById("pay").value = "shipCod"
    }

    //function showLabel(input) {
    //    // Lấy giá trị của input
    //    var value = input.value;
    //    // Lấy phần tử datalist tương ứng
    //    var list = document.getElementById(input.getAttribute("list"));
    //    // Duyệt qua các thẻ option trong datalist
    //    for (var i = 0; i < list.options.length; i++) {
    //        var option = list.options[i];
    //        // Nếu giá trị của input trùng với giá trị của option
    //        if (option.value === value) {
    //            // Lấy nhãn của option
    //            var label = option.label;
    //            // Gán nhãn cho thuộc tính placeholder của input
    //            input.placeholder = label;
    //            // Thoát khỏi vòng lặp
    //            break;
    //        }
    //    }
    //}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $("#submitOrder").click(function () {
            var productId = $("input[name='productId']").val();
            var size = $("select[name='size']").val();
            var color = $("#color").val();
            var quantity = $("input[name='soluong']").val();

            if (size && color) {
                if (quantity === '' || isNaN(quantity)) {
                    $("span[name='error']").html('Nhập số lượng sản phẩm cần mua hợp lệ');
                } else if (quantity === '0') {
                    $("span[name='error']").html('Tối thiểu mua 1 sản phẩm');
                } else {
                    $.ajax({
                        url: '/home/getsl',
                        method: 'POST',
                        data: {
                            productId: productId,
                            size: size,
                            color: color
                        },
                        success: function (response) {
                            if (response.success) {
                                var idsanphamcthitiet = response.idsanphamcthitiet;
                                var img = response.img;
                                var x = 0;
                                if (idsanphamcthitiet === x) {
                                    $("span[name='error']").html('Sản phẩm đã hết vui lòng chọn size hoặc màu khác');
                                    $("input[name='soluong']").val('');
                                } else if (quantity > idsanphamcthitiet.quantity) {
                                    $("span[name='error']").html('Tối đa ' + idsanphamcthitiet.quantity);
                                    $("input[name='soluong']").val('');
                                } else {

                                    $("span[name='error']").html('');

                                    var sluong = parseInt($("input[name='soluong']").val());
                                    var shipp = parseFloat($("input[name='ship']").val());
                                    var tong = 0; 
                                    tong = idsanphamcthitiet.price * sluong + shipp;
                                    console.log(tong)
                                    // Cập nhật giá trị tổng tiền vào trường #tongtien
                                    var tt =     $("#tongtien").val(tong);
                                    console.log(tt);
                                    $("#tongtien").val(tong);
                                    idsanphamcthitiet
                                    var newImageSrc = '/images/' + img.name; // Thay đổi đường dẫn ảnh mới ở đây

                                    console.log(img.name);
                                    $("#myImage").attr("src", newImageSrc);


                                    console.log("Đã tìm thấy idsanphamcthitiet: " + idsanphamcthitiet);
                                }
                            } else {
                                console.error("Không tìm thấy sản phẩm chi tiết phù hợp.");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            } else {
                console.error("Vui lòng chọn size và color trước khi xác nhận đơn hàng.");
                $("span[name='error']").html('Vui lòng chọn size và color trước khi xác nhận đơn hàng.');
            }
        });
    });




</script>
