@using APPDATA.Models;
@model X.PagedList.IPagedList<APPDATA.Models.Account>
@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Account-List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;

}
@functions
{
    private string GetRoleName(Guid? roleId)
    {
        var roles = ViewBag.Roles as List<Role>;
        var role = roles.FirstOrDefault(c => c.id == roleId);
        if (role != null)
        {

            return role.name;
        }
        return "No Data";
    }
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Account</h5>
    </div>
    <form asp-action="getlist">
        <div class="card-header row">
            <div class="col-md-3">
                <select id="FilterTransaction" class="form-select text-capitalize" name="status">
                    <option value=""> Chọn trạng thái </option>
                    <option value="2" class="text-capitalize">Đã khóa</option>
                    <option value="1" class="text-capitalize">Hoạt động</option>
                    <option value="0" class="text-capitalize">Chưa kích hoạt</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="UserRole" class="form-select text-capitalize" name="role">
                    <option value=""> Chọn quyền </option>
                    @foreach (var item in ViewBag.Roles)
                    {
                        @if (item != null)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                        else
                        {
                            <option value=""> Chọn quyền </option>
                            <option value=""> Không có dữ liệu </option>
                        }

                    }




                </select>
            </div>
            <div class="col-md-3">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label><input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0" name="tk" /></label>
                </div>
            </div>
            <div class="col-md-3">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label><button class="btn btn-success mb-3" type="submit">Tìm kiếm</button></label>
                </div>
            </div>
        </div>
    </form>
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-2">Người dùng</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-2 me-1 display-6">@ViewBag.CountActive</h4>
                                @* <p class="text-success mb-2">(+29%)</p >*@
                            </div>
                            @*  <p class="mb-0">Tổng người dùng</p> *@
                        </div>
                        <div class="avatar">
                            <div class="avatar-initial bg-label-primary rounded">
                                <div class="mdi mdi-account-outline mdi-24px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-2">Đã khóa</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-2 me-1 display-6">@ViewBag.CountBlocked</h4>
                                @* <p class="text-success mb-2">(+18%)</p> *@
                            </div>
                            @*  <p class="mb-0">Last week analytics</p> *@
                        </div>
                        <div class="avatar">
                            <div class="avatar-initial bg-label-danger rounded">
                                <div class="mdi mdi-account-cancel-outline mdi-24px scaleX-n1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-2">Đã kích hoạt</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-2 me-1 display-6">@ViewBag.CountActive</h4>
                                @*  <p class="text-danger mb-2">(-14%)</p> *@
                            </div>
                            @* <p class="mb-0">Last week analytics</p> *@
                        </div>
                        <div class="avatar">
                            <div class="avatar-initial bg-label-success rounded">
                                <div class="mdi mdi-account-check-outline mdi-24px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-1">
                            <p class="text-heading mb-2">Chưa kích hoạt</p>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-2 me-1 display-6">@ViewBag.CountInActive</h4>
                                @*  <p class="text-success mb-2">(+42%)</p> *@
                            </div>
                            @*  <p class="mb-0">Last week analytics</p> *@
                        </div>
                        <div class="avatar">
                            <div class="avatar-initial bg-label-warning rounded">
                                <div class="mdi mdi-account-alert-outline mdi-24px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <a class="btn btn-success mb-3" asp-controller="Account" asp-action="Create">Tạo mới</a>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                @ViewData["ErrorMessage"]

            </div>

        }
        else if (!string.IsNullOrEmpty(ViewData["Sucsess"] as string))
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Sucsess"]

            </div>
        }
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Ảnh đại diện</th>
                        <th>Quyền</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {

                        @foreach (var item in Model)
                        {
                            var nameClaim = User.FindFirst("Name");

                            bool isCurrentUser = nameClaim != null && nameClaim.Value == item.Name;

                            <tr>
                                <td>@(stt += 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td><img src="~/UserImage/@item.Avatar" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" /></td>
                                <td>
                                    @if (item.IdRole.HasValue)
                                    {
                                        var roleName = GetRoleName(item.IdRole);
                                        if (!string.IsNullOrEmpty(roleName))
                                        {
                                            if (roleName.Contains("Admin"))
                                            {
                                                <span class="mdi mdi-laptop mdi-24px text-danger me-1"></span>
                                            }
                                            else if (roleName.Contains("Customer"))
                                            {
                                                <span class="mdi mdi-account-outline mdi-24px text-primary me-1"></span>
                                            }
                                            else if (roleName.Contains("Staff"))
                                            {
                                                <span class="mdi mdi-cog-outline text-warning mdi-24px me-1"></span>
                                            }
                                            @roleName
                                        }
                                    }
                                </td>
                                <td>

                                    @if (isCurrentUser)
                                    {
                                        <span class="badge bg-primary rounded-pill">@Html.DisplayFor(modelItem => item.Email)</span>
                                    }
                                    else
                                    {
                                        @item.Email
                                    }
                                </td>
                                <td>@item.Create_date.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @{
                                        DateTime updatedDate = item.Update_date;
                                        string formattedUpdateDate = updatedDate != DateTime.MinValue
                                        ? updatedDate.ToString("dd/MM/yyyy")
                                        : "Chưa thay đổi";
                                    }
                                    @formattedUpdateDate
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span class="badge bg-label-success rounded-pill">Hoạt động</span>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <span class="badge bg-label-warning rounded-pill">Chưa kích hoạt</span>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <span class="badge rounded-pill bg-label-danger">Đã khóa</span>
                                    }
                                </td>
                                <td>

                                    <div class="d-inline-block text-nowrap">
                                        <button class="btn btn-sm btn-icon btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="mdi mdi-dots-vertical mdi-20px"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                            <a href=" @Url.Action("AccountDetails", new { id = item.Id })" class="dropdown-item ">
                                                <i class="mdi mdi-eye-outline me-2"></i>
                                                <span>Xem</span>
                                            </a>
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item">
                                                <i class="mdi mdi-pencil-outline me-2"></i>
                                                <span>Chỉnh sửa</span>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="dropdown-item delete-record @(isCurrentUser ? "disabled" : "")">
                                                <i class="mdi mdi-account-cancel me-2"></i>
                                                <span>Khóa</span>
                                            </a>
                                        </div>
                                    </div>



                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


<div>
    @Html.PagedListPager(Model, page => Url.Action("GetList", new {page = page, sort=ViewBag.sort}), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item"},
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 8,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
</div>
