@model APPVIEW.ViewModels.AccountVm

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    var IdUser = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Id");
    string Id_userValue = IdUser?.Value;

}

<div class="container mt-5">
    <h1 class="text-center mb-5">My Profile</h1>

    <div class="row mt-3">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="position-relative">
                    <img class="rounded-circle mt-3 mb-3" width="150px" src="~/UserImage/@Model.Avatar" alt="User Avatar">
                </div>
                <span class="font-weight-bold">@Model.Name</span>
                <span class="text-black-50">@Model.Email</span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="p-3 py-5">
                <h4 class="text-right mb-4">My Profile</h4>

                <form asp-action="MyProfile" id="profileForm" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label asp-for=Name class="labels">Name</label>
                        <input asp-for=Name type="text" class="form-control" placeholder="Enter your name" value="@Model.Name">
                    </div>
                    <div hidden class="mb-3">
                        <label hidden asp-for=Id class="labels">Name</label>
                        <input hidden asp-for=Id type="text" class="form-control" placeholder="Enter your name" value="@Model.Id">
                    </div>
                    <div hidden class="mb-3">
                        <label hidden asp-for=Id_Role class="labels">Name</label>
                        <input hidden asp-for=Id_Role type="text" class="form-control" placeholder="Enter your name" value="@Model.Id_Role">
                    </div>
                    <div hidden class="mb-3">
                        <label hidden asp-for=AccountId class="labels">Name</label>
                        <input hidden asp-for=AccountId type="text" class="form-control" placeholder="Enter your name" value="@Model.AccountId">
                    </div>
                    <div class="mb-3">
                        <label asp-for=Email class="labels">Email</label>
                        <input asp-for=Email type="email" class="form-control" placeholder="Enter your email" value="@Model.Email">
                    </div>
                    <div hidden class="mb-3">
                        <label asp-for=Password hidden class="labels">Password</label>
                        <input asp-for=Password hidden type="password" class="form-control" placeholder="Enter your Password" value="@Model.Password">
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="labels">Phone Number</label>
                        <input asp-for=PhoneNumber type="text" class="form-control" placeholder="Enter your phone number" value="@Model.PhoneNumber">
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label asp-for=Province class="labels">Province</label>
                            <select class="country_select" id="countrySelect" asp-for="Province" size="8">
                                @foreach (var item in ViewBag.province)
                                {
                                    if (Model != null)
                                    {
                                        if (item.ProvinceName == Model.Province)
                                        {
                                            <option selected value="@item.ProvinceID">@item.ProvinceName</option>
                                        }
                                    }

                                    <option value="@item.ProvinceID">@item.ProvinceName</option>
                                }
                            </select>
                        </div> <div class="col-md-4">
                            <label asp-for=District class="labels">District</label>
                            @*   <input asp-for=District type="text" class="form-control" placeholder="Enter your District" value="@Model.District">*@
                            <input list="districtSelect" class="form-control" id="district" placeholder="chọn quận huyện" asp-for="District">

                            <datalist id="districtSelect">
                            </datalist>
                        </div>
                        <div class="col-md-4">
                            <label asp-for=Ward class="labels">Ward</label>
                            @* <input asp-for=Ward type="text" class="form-control" placeholder="Enter your Ward" value="@Model.Ward">*@
                            <input list="wardSelect" class="form-control" id="ward" placeholder="chọn phường xã" asp-for="Ward">
                            <datalist id="wardSelect">
                            </datalist>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for=SpecificAddress class="labels">Specific Address</label>
                            <input asp-for=SpecificAddress type="text" class="form-control" placeholder="Enter your Specific Address" value="@Model.SpecificAddress">
                        </div>
                        <div class="col-md-6">
                            <label asp-for=DefaultAddress class="labels">Default Address</label>
                            <input asp-for=DefaultAddress type="text" class="form-control" placeholder="Enter your Default Address" value="@Model.DefaultAddress">
                        </div>
                    </div>
                    <div class="row mb-3">

                        <div class="col-md-6">
                            <label asp-for=Avatar class="labels">Avatar</label>
                            <input asp-for="Avatar" class="form-control" type="file" name="imageFile" />
                        </div>
                        <div class="col-md-6">
                            <label asp-for=Description class="labels">Description</label>
                            <input asp-for="Description" class="form-control" value="@Model.Description" />
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="hover">
                            <div class="btn-group" role="group" aria-label="Profile actions" style="gap:10px">
                                <button type="submit" value="submit" class="button button-register-login w-60">Save change</button>
                                <a class="button button-register-login w-60" href="~/Account/ChangePassword">Change password</a>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Lắng nghe sự kiện submit của form
    document.getElementById('profileForm').addEventListener('submit', function (event) {
        // Chặn sự kiện mặc định của form
        event.preventDefault();

        // Hiển thị hộp thoại xác nhận
        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to save the changes?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, save it!',
            cancelButtonText: 'No, cancel',
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng chấp nhận, tiếp tục submit form
                document.getElementById('profileForm').submit();
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Your changes have been saved successfully!',
                    timer: 2000,
                    position: 'bottom-right',
                    showConfirmButton: false,
                    toast: true
                });
            }
        });
    });
</script>

<script>

    // Lấy tham chiếu đến thẻ select bằng id
    var select = document.getElementById("countrySelect");
    var selectDistrict = document.getElementById("districtSelect");
    var selectWard = document.getElementById("wardSelect");
    var ldistrict = new Array();
    var lward = new Array();
    var iddis = 0;
    var idwar = 0;
    var inputdis = document.getElementById("district");
    var inputward = document.getElementById("ward");
    var btncf = document.getElementById("btncf");


    // Thêm một sự kiện onchange cho thẻ select
    select.onchange = function () {
        // Lấy giá trị được chọn trong thẻ select
        var selectedCountry = select.value;
        ldistrict.splice(0, ldistrict.length);
        $("#districtSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList
        $("#wardSelect").empty();
        inputdis.value = "";
        inputward.value = "";

        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/district", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, provinceid: selectedCountry,
            body: provinceid = selectedCountry
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function (districs) {
                    ldistrict.push(districs);
                    console.log(ldistrict);
                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = districs.districtID; // Gán giá trị cho option
                    option.value = districs.districtName; // Gán nội dung hiển thị cho option
                    selectDistrict.appendChild(option); // Thêm option vào thẻ select

                });

            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });

    };

    //chọn phường
    inputdis.onchange = function () {
        // Lấy giá trị được chọn trong thẻ select
        var district = 0;
        lward.splice(0, ldistrict.length);
        ldistrict.forEach(function (id) {
            if (id.districtName == inputdis.value) {
                district = id.districtID;
                iddis = id.districtID;
            }

        });
        console.log(iddis);
        $("#wardSelect").empty(); // Xóa tất cả các thẻ option trong phần tử select có id là DropList


        // Sử dụng fetch() để gửi một request GET đến /Home/GetUsers
        fetch("/Home/ward", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, districtid: district,
            body: districtid = district
        })
            .then(response => response.json()) // Chuyển đổi response thành JSON
            .then(data => {

                // Xử lý dữ liệu JSON

                data.forEach(function (ward) {

                    // Duyệt qua mảng các user
                    var option = document.createElement("option"); // Tạo một phần tử option mới
                    option.innerHTML = ward.wardCode; // Gán giá trị cho option
                    option.value = ward.wardName; // Gán nội dung hiển thị cho option
                    selectWard.appendChild(option); // Thêm option vào thẻ select
                    lward.push(ward);


                });
            })
            .catch(error => {
                // Xử lý lỗi
                console.error(error); // In ra lỗi
            });
    };





</script>



