@using System.Globalization;
@model IEnumerable<APPDATA.Models.Voucher>

@{
    ViewData["Title"] = "Voucher-List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Phiếu Giảm Giá</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success waves-effect waves-light" asp-action="Create">
            <span class="mdi mdi-plus-thick">Tạo mới</span>
        </a>
        <form asp-action="Search" method="get" class="form-inline" style="margin-left: 1000px">
            <input placeholder="Tìm kiếm" type="text" name="searchTerm" id="searchTerm" class="form-control" aria-label="Người nhận" aria-describedby="basic-addon2" />
        </form>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Mã</th>
                        <th>Số Tiền Giảm Tối Đa</th>
                        <th>Số Lượng</th>
                        <th>Trạng Thái</th>
                        <th>Giá Trị</th>
                        <th>Ngày Tạo</th>
                        <th>Ngày Cập Nhật</th>
                        <th>Ngày Bắt Đầu</th>
                        <th>Ngày Kết Thúc</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(stt += 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                <td>@item.DiscountAmount.ToString("C0", new CultureInfo("vi-VN"))</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>
                                    <span class="badge @(item.Status == 1 ? "badge rounded-pill bg-label-success" : "badge rounded-pill bg-label-danger")">
                                        @(item.Status == 1 ? "Đang Sử Dụng" : "Không Sử Dụng")
                                    </span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Value)%</td>
                                <td>
                                    @{
                                        DateTime createDate = item.Create_date;
                                        string formattedDate = createDate != DateTime.MinValue
                                        ? createDate.ToString("dd/MM/yyyy")
                                        : "Chưa cập nhật";
                                    }
                                    @formattedDate
                                </td>
                                <td>
                                    @{
                                        DateTime updatedDate = item.Update_date;
                                        string formattedUpdateDate = updatedDate != DateTime.MinValue
                                        ? updatedDate.ToString("dd/MM/yyyy")
                                        : "Chưa cập nhật";
                                    }
                                    @formattedUpdateDate
                                </td>
                                <td>
                                    @{
                                        DateTime startDate = item.StartDate;
                                        string formattedStartDate = startDate != DateTime.MinValue
                                        ? startDate.ToString("dd/MM/yyyy")
                                        : "Chưa cập nhật";
                                    }
                                    @formattedStartDate
                                </td>
                                <td>
                                    @{
                                        DateTime endDate = item.EndDate;
                                        string formattedEndDate = endDate != DateTime.MinValue
                                        ? endDate.ToString("dd/MM/yyyy")
                                        : "Chưa cập nhật";
                                    }
                                    @formattedEndDate
                                </td>
                                <td>
                                    <div class="d-inline-block text-nowrap">
                                        <button class="btn btn-sm btn-icon btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="mdi mdi-dots-vertical mdi-20px"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item">
                                                <i class="mdi mdi-pencil-outline me-2"></i>
                                                <span>Sửa</span>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="dropdown-item delete-record">
                                                <i class="mdi mdi-delete-outline me-2"></i>
                                                <span>Xóa</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


